ul #lista-medicamentos {
    list-style: none;
    padding: 0;
  }


 .li-novo-medicamento{
    font-size: 20px;
    font-weight: bold;
    max-width: 500px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 7px;
    color: #fff;
    background-color: #3d3d3d;
  }
 .li-novo-medicamento:hover {
    background-color: #0059ff;
  }
  li.selecionado {
    background-color: #0048ff61;
  }

  .btn-danger {
    margin-top: 3rem;
    max-width: 250px;
  }

  .row {
    margin-bottom: 2rem;
  }