.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 85vw;
    margin-top: 5rem;
    padding: 3rem;
    box-shadow: 0px 0px 10px black;
}

.title-card {
    margin-bottom: 2rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 10px black;

}

.label {
    font-size: 1.05rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.row {
    margin-top: 1rem;
}

.footer-card {
    display: flex;
    justify-content: end;
}

.btn {
    margin-right: 1rem;
    font-size: 17px;
    font-weight: bold;
}

.btn-success {
    margin-top: 2rem;
    width: 110px;
}

#navbarSupportedContent ul {
    margin-left: 2rem;
}

.nav-link {
    font-weight: bold;
}