.content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}


.content-left {
    width: calc(50vw-13.5px);
    margin-left: 5px;
}

.form {
    padding-top: 13px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    border: 1px solid;
}

.content-right {
    display: flex;
    flex-direction: column;
    width: calc(50vw-13.5px);
    margin-right: 12px;
}

.table {
    padding-top: 13px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    border: 1px solid;
}

.article {
    padding-top: 13px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid;
}

h5 {
    margin-bottom: 2.5rem;
}

thead {
    background-color: #e5e5e5;
}

th {
    font-weight: bold;
}